apiVersion: v1
kind: Secret
metadata:
  name: quay-image-pull-secret
  namespace: "{{ NAMESPACE_NAME }}-{{ item }}"
data:
  .dockerconfigjson: "{{ QUAY_PULL_SECRET }}"
type: kubernetes.io/dockerconfigjson
