---
kind: User
apiVersion: user.openshift.io/v1
metadata:
  name: "{{ EMAIL }}"
groups: null

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: "{{ EMAIL }}-{{ K8S_PERMISSION_LEVEL }}-{{ NAMESPACE_NAME }}-{{ item }}"
  namespace: "{{ NAMESPACE_NAME }}-{{ item }}"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: "{{ K8S_PERMISSION_LEVEL }}"
subjects:
- apiGroup: rbac.authorization.k8s.io
  kind: User
  name: "{{ EMAIL }}"

