---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ NAMESPACE_NAME }}-{{ item[1] }}-repo"
  namespace: gitops-system
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  url: "{{ GITLAB_URL }}/forge-mi/projects/{{ ORGANIZATION_NAME }}/{{ PROJECT_NAME }}/{{ item[1] }}.git"
  name: private-repo
  type: git
  password: "{{ GITLAB_TOKEN }}"
  username: "{{ GITLAB_USER }}"
---
apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: "{{ NAMESPACE_NAME }}-{{ item[1] }}-{{ item[0] }}-project"
  namespace: gitops-system
spec:
  clusterResourceWhitelist:
  - group: '*'
    kind: '*'
  destinations:
  - name: '*'
    namespace: "{{ NAMESPACE_NAME }}-{{ item[1] }}-{{ item[0] }}"
    server: '*'
  namespaceResourceWhitelist:
  - group: '*'
    kind: '*'
  roles:
  - description: "{{ NAMESPACE_NAME }}-{{ item[1] }}-{{ item[0] }}-RO"
    groups:
    - "/{{ NAMESPACE_NAME }}-{{ item[0] }}-RO"
    name: "{{ NAMESPACE_NAME }}-{{ item[1] }}-{{ item[0] }}-RO"
    policies:
    - p, proj:{{ NAMESPACE_NAME }}-{{ item[1] }}-{{ item[0] }}-project:{{ NAMESPACE_NAME }}-{{ item[1] }}-{{ item[0] }}-RO, applications, get, {{ NAMESPACE_NAME }}-{{ item[1] }}-{{ item[0] }}-project/*, allow
  - description: "{{ NAMESPACE_NAME }}-{{ item[1] }}-{{ item[0] }}-RW"
    groups:
    - "/{{ NAMESPACE_NAME }}-{{ item[0] }}-RW"
    name: "{{ NAMESPACE_NAME }}-{{ item[1] }}-{{ item[0] }}-RW"
    policies:
    - p, proj:{{ NAMESPACE_NAME }}-{{ item[1] }}-{{ item[0] }}-project:{{ NAMESPACE_NAME }}-{{ item[1] }}-{{ item[0] }}-RW, applications, *, {{ NAMESPACE_NAME }}-{{ item[1] }}-{{ item[0] }}-project/*, allow
  sourceRepos:
  - "{{ GITLAB_URL }}/forge-mi/projects/{{ ORGANIZATION_NAME }}/{{ PROJECT_NAME }}/{{ item[1] }}.git"
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: "{{ NAMESPACE_NAME }}-{{ item[1] }}-{{ item[0] }}"
  namespace: gitops-system
spec:
  destination:
    namespace: "{{ NAMESPACE_NAME }}-{{ item[1] }}-{{ item[0] }}"
    server: https://kubernetes.default.svc
  project: "{{ NAMESPACE_NAME }}-{{ item[1] }}-{{ item[0] }}-project"
  source:
    path: base
    repoURL: "{{ GITLAB_URL }}/forge-mi/projects/{{ ORGANIZATION_NAME }}/{{ PROJECT_NAME }}/{{ item[1] }}.git"
    targetRevision: HEAD
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - RespectIgnoreDifferences=true
