apiVersion: v1
kind: Secret
metadata:
  name: quay-image-pull-secret
  namespace: "{{ NAMESPACE_NAME }}-{{ item[1] }}-{{ item[0] }}"
data:
  .dockerconfigjson: {{ QUAY_PULL_SECRET }}
type: kubernetes.io/dockerconfigjson